@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
=================
variables
=================
*/
:root {
    --main-color: #FF3811;
    --white-color: #fff;
    --black-color: #000
}


/* 
==========================
active class for NavLinks 
==========================
*/
.active {
    color: var(--main-color);
}


/* 
================
shared styles
================
 */
h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
}
/* Media query for mid devices */
@media only screen and (min-width: 576px) and (max-width: 900px) {
    h1 {
        /* Adjust styles for small devices */
        font-size: 30px;
    }
}
/* Media query for small devices */
@media only screen and (max-width: 576px) {
    h1 {
        /* Adjust styles for small devices */
        font-size: 20px;
    }
}
h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}
/* Media query for mid devices */
@media only screen and (min-width: 576px) and (max-width: 900px) {
    h2 {
        /* Adjust styles for small devices */
        font-size: 24px;
    }
}
/* Media query for small devices */
@media only screen and (max-width: 576px) {
    h2 {
        /* Adjust styles for small devices */
        font-size: 18px;
    }
}
h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
/* Media query for mid devices */
@media only screen and (min-width: 576px) and (max-width: 900px) {
    h4 {
        /* Adjust styles for small devices */
        font-size: 18;
    }
}
/* Media query for small devices */
@media only screen and (max-width: 576px) {
    h4 {
        /* Adjust styles for small devices */
        font-size: 17px;
    }
}
    
/* 
paragraph
 */
p{
    font-size: 16px;
}
/* Media query for mid devices */
@media only screen and (min-width: 576px) and (max-width: 900px) {
    p {
        /* Adjust styles for small devices */
        font-size: 14px;
    }
}
/* Media query for small devices */
@media only screen and (max-width: 576px) {
    p {
        /* Adjust styles for small devices */
        font-size: 12px;
    }
}



/* 
=========================
 button 
=========================
*/
.button{
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.2s ease-in, background 0.2s ease-in, transform 0.2s ease-in;
}
.button:hover{
    transform: scale(0.95);
}

/* Media query for small devices */
@media only screen and (max-width: 576px) {
    .button{
        /* Adjust styles for small devices */
        padding: 4px 8px; 
        font-size: 12px;
        border-radius: 3px;
    }
}




/* 
=========================
primary outline button 
=========================
*/
.primary-outline-button {
    border: 1px solid var(--main-color); 
    background: transparent;
    color: var(--main-color);   
}

.primary-outline-button:hover {
    color: var(--white-color);
    background: var(--main-color);

}


/* 
=========================
primary fill button 
=========================
*/
.primary-fill-button {
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
}

.primary-fill-button:hover {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background: transparent;
}



/* 
=========================
white outline button 
=========================
*/
.white-outline-button {
    border: 1px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
}

.white-outline-button:hover {
    color: var(--white-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
}



